body {
    margin: 0;
    padding: 0;
    color: #404040;
    font-family: 'Avenir', sans-serif;
    font-weight: normal;
}

.navbar {
    display: none;
}

.section {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #404040;
    background-color: #FAFAFA;
}

.heading {
    color: #606060;
    display: block;
    font-weight: 300;
	font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
.footer-wrapper {
    height: 40vh;
    width: 100%;
    background-color: #EEEEEE;
}

.footer {
    background-color: #EEEEEE;
    padding: 5% 7.5% 0 7.5%;
    color: rgb(65, 65, 65);
}

.footer-left {
    margin-bottom: 6%;
}

.footer-left, .footer-right {
    text-align: center;
}

.footer-left > h1, .footer-right > h1 {
    padding: 0;
    margin: 0 0 1.5% 0;
    font-size: 1.25em;
    letter-spacing: 0.1px;
    color: #404040;
    text-decoration: underline;
    font-family: 'Avenir';
    font-weight: 500;
}

.footer-left > p, .footer-right > p {
    padding: 0;
    margin: 0;
    font-size: 1.25em;
}

.footer-link {
    color: #404040;
    text-decoration: none;
    display: inline;
    margin-bottom: 1.5%;
    font-size: 1.25em;
}

.footer-link:after, .footer-left > p:after, .footer-right > p:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
}

.footer-link:hover {
    color: #404040;
    font-weight: 500;
}

.copyright {
    display: block;
    text-align: center;
    background-color: #EEEEEE;
    padding-top: 5%;
    font-size: 1em;
}

.copyright > p {
    margin-bottom: 0;
}

.sliding-middle-out {
	display: inline-block;
	padding-bottom: 0;
}

.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
	width: 100%;
	background: #404040;
}

.separator {
    height: 50px;
    background-color: #FAFAFA;
    padding: 0;
    margin: 0;
}

.row, .row-omega {
	margin: 5%;
	margin-top: 0;
    padding-bottom: 0;
}

.subject {
	border: 2px solid #ddd;
	padding: 1%;
	text-align: center;
	margin-bottom: 5%;
}

.dropdown-link {
	font-size: 18px;
	color: #404040;
	display: block;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.dropdown-link:hover {
	color: #404040;
}

.dropdown-files {
	width: 100%;
	list-style: none;
	display: none;
}

.dropdown-files > hr {
	margin: 0;
	padding: 0;
	width: 80%;
	margin: 0 auto;
}

.dropdown-files > li {
	width: 100%;
	margin: 10px;
}

.dropdown-files > li > a {
	color: #404040;
	text-decoration: none;
	display: block;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 1%;
	margin: 0 auto;
	transition: 0.3s all;
}

.dropdown-files > li > a:hover {
	color: #404040;
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.3s all;
}

.file-wrapper {
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	overflow: auto;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
}

.file {
	padding: 5%;
	margin: 5% auto;
	height: auto;
	width: 75%;
	background-color: white;
	z-index: 9999999;
}

.exit {
	position: fixed;
	right: 1%;
	top: 1%;
	text-decoration: none;
	z-index: 99999999;
	color: white;
	padding: 2%;
	padding-left: 3.25%;
	padding-right: 3.25%;
	border-radius: 9999px;
	background-color: #222222;
}

.exit:hover {
	color: #bbbbbb;
}

/* Larger than tablet */
@media (min-width: 750px) {

    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
    }
    
    .navbar {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        position: fixed;
        top: 0;
        left: 0;
    }

    .navbar > .container {
        width: 100%;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    
    .navbar-item {
        position: relative;
        float: right;
		right: -1.75%;
        margin-bottom: 0;
    }
    
    .navbar-image-item {
        float: left;
    }

    .navbar-link {
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #404040;
    }

    .navbar-link:hover, .navbar-link:active {
        color: #404040;
    }

	.dropdown-caller {
		text-align: center;
		width: 10rem;
		right: 0;
	}
	
	.dropdown-caller > a {
		display: block;
		cursor: pointer;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	/* .dropdown-caller:hover > .dropdown-list { */
	/* 	display: block; */
	/* } */
	
	.dropdown-list {
		background-color: #fff;
		margin: 0;
		padding: 0;
		border: 1px solid #eee;
		text-align: center;
		position: absolute;
		width: 100%;
		right: auto;
		display: none;
	}
	
	.dropdown-list > li {
		list-style: none;
		margin: 1.25rem 0;
		left: auto;
		clear: left;
		width: 100%;
	}

	.dropdown-list > li > a {
		text-decoration: none;
		color: #404040;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.2rem;
	}
	
    .navbar-image {
        line-height: 6rem;
    }

    .navbar-image-link {
        vertical-align: middle;
        height: 32px;        
    }

    .terminal-window {
        width: 50%;
    }

    #skills > h1.heading {
        padding-bottom: 0.5%;
    }
    
    .row {
        padding-bottom: 2.5%;
    }

    .skill-section-heading {
        font-size: 1.25rem;
        position: absolute;
        left: 0;
        /* margin-top: 5%; */
        border: 1px solid #C1C1C1;
        padding: 0.5%;
    }

    .even-row-skill-section-heading {
        padding-bottom: 0.5%;
    }

    .skill-container > h4 {
        text-align: left;
    }
    
    .skill-container > hr {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 1%;
        margin-bottom: 2.5%;
    }

    .skill {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .skill > img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    
    .project-half {
        width: 49%;
        margin-bottom: 0;
        display: flex;
        align-self: flex-start;
    }

    .project-half > img {
        margin: 0 auto;
    }

    .project-half.omega {
        margin-bottom: 0;
        align-self: flex-end;
    }

    .label {
        width: 50%;
        padding: 2.5%;
        padding-bottom: 1%;
    }
    
    .footer-left {
        text-align: left;
    }

    .footer-right {
        text-align: right;
    }

    .footer-left > h1, .footer-right > h1, .footer-left > p, .footer-right > p, .footer-link {
        font-size: 1.1em;
    }

    .copyright {
        padding-top: 0;
        padding-bottom: 2%;
    }

	.file-wrapper {
		background: rgba(0, 0, 0, 0.75);
		width: 100%;
		overflow: auto;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999999;
	}
	
	.file {
		padding: 5%;
		margin: 5% auto;
		height: auto;
		width: 75%;
		background-color: white;
		z-index: 9999999;
	}

	.exit {
		position: fixed;
		right: 1%;
		top: 1%;
		text-decoration: none;
		z-index: 99999999;
		color: white;
		padding: 0;
		border-radius: 0;
		background-color: transparent;
	}

	.exit:hover {
		color: #bbbbbb;
	}

}
